/* resetCSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #333;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    position: relative;
    background-image: url(../img/fv-bgi_01@2x.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    min-height: 660px;
}

.header a, .header span {
    color: #FFF;
    font-weight: bold;
}

.header__cat {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 96px;
}

.header__cat input,
.header__cat label {
    display: none;
}

.header__navi__list {
    display: flex;
}

.header__bg {
    width: 1200px;
    margin: 0 auto;
}

.header__logo {
    font-size: 26px;
}

.header__navi__list .header__navi__item span {
    margin-left: 20px;
}

.mainKv__title,.mainKv__sub__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainKv__title {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
}

.mainKv__sub__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {

}    